@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: white;
}

/* Nadia */

nav {
  background-color: #006df0;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  height: 3.6em;
  align-items: center;
  font-size: 1.4em;
}

nav li {
  text-decoration: none;
  color: #ffffff;
  width: auto;
  float: left;
  padding: 5px;
  list-style: none;
  font-weight: 500;
}

nav li i {
  margin-left: 5px;
}

.Title-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CyberTraining {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 80vh;
  margin-right: 5em;
}

.CyberTraining h1 {
  color: #006df0;
  margin-bottom: 0.3em;
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

.CyberTraining p {
  color: black;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
}

.Title-section img {
  width: 20%;
  height: auto;
}

/* Artur */

.vidste-du__section {
  position: relative;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 0 3em 0;
}

.vidste-du__section h2 {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 30px;
}

.vidste-du__section p {
  width: 50%;
  margin-bottom: 2em;
  font-size: 20px;
}

.vidste-du__section img {
  width: 50%;
  margin-top: 2em;
}

.design {
  background-color: #006df0;
  width: 15%;
  height: 60%;
  position: relative;
  position: absolute;
  left: 0;
  top: -10%;
  z-index: 3;
}

.bullet__container {
  position: absolute;
  top: 26%;
  left: 69%;
  width: 11em;
  height: 8em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.bullet {
  background-color: white;
  border-radius: 100%;
  height: 0.85em;
  width: 0.85em;
}

@media only screen and (max-width: 800px) {
  .design {
    display: none;
  }

  .vidste-du__section img,
  .vidste-du__section p {
    width: 80%;
  }

  .vidste-du__section {
    height: 50vh;
  }
}

/* JS  */
.modal {
  display: none;
}

.overlay__active {
  position: absolute;
  top: 0;
  bottom: -315%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

/* Quiz box */

.quiz__box {
  position: absolute;
  display: none;
  height: 80vh;
  width: 80vh;
  margin: 0 auto;
  background-color: #006df0;
  z-index: 5;
  opacity: 1;
  box-shadow: 0 0 10px 2px;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  position: relative;
  margin-top: 1em;
}

#exitIcon {
  cursor: pointer;
}

.quiz__box p {
  text-align: center;
  color: white;
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: 500;
}

.title__container h2,
.title__container i {
  color: white;
  font-weight: 1em;
}

.title__container i {
  cursor: pointer;
  position: absolute;
  right: 1em;
}

.question__content h3 {
  padding-top: 1.4em;
  text-align: center;
  color: #006df0;
}

.quiz__form {
  padding: 4em 0 4em 2em;
}

.quiz__form label {
  display: block;
  font-size: 1.5em;
  font-weight: 600;
}

.quiz__form input {
  margin-right: 1em;
}

.quiz__form label:first-child {
  padding-bottom: 1em;
}

.question__content {
  background-color: white;
  height: 90%;
  border-radius: 32px 32px 0 0;
}

.question__content button {
  border-radius: 8px;
  border: none;
  padding: 0.5em 1em;
  background: linear-gradient(#0081f0 0%, #003778 100%);
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
}

.quiz-content__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Quiz Questions JS */

.hide {
  display: none;
}

/* Quiz */

.quiz__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz__title,
.bundoverskrift {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #006df0;
  text-align: center;
}

.knap {
  cursor: pointer;
}

.knap a {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: white;
  background-color: #006df0;
  padding: 0.3em 0.8em;
  font-weight: 500;
  border-radius: 16px;
}

.trophy__image {
  width: 50%;
  height: auto;
  margin-bottom: 2em;
}

.quiz__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz__title {
  margin-top: 1.6em;
  font-size: 30px;
}

.quiz__wrapper p {
  width: 20ch;
  padding: 0;
  font-weight: 500;
  display: block;
  font-size: 20px;
}

.image__container {
  margin-bottom: 7em;
  margin-top: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sidste side */
.passwordtjekker {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bundoverskrift {
  color: white;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 30px;
}
.bundtekst {
  color: white;
  font-style: normal;
  width: 50ch;
  font-size: 20px;
}

.password__input {
  width: 35%;
  height: 3em;
  padding: 2em;
  border-radius: 16px;
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 1rem;
}

.tjek__submit {
  background-color: #006df0;
  color: white;
  border: none;
  padding: 0.3em 1.4em;
  font-size: 2em;
  font-weight: 600;
  border-radius: 16px;
  margin-bottom: 1rem;
}

/* Error container */

.error {
  display: none;
  color: white;
  background-color: #006df0;
  border-radius: 32px;
  width: 35%;
  text-align: center;
  padding: 2em;
  margin-bottom: 1rem;
}

.error h3 {
  font-size: 1.3em;
  font-weight: 500;
}

.error ul {
  list-style: none;
}

.design2 {
  background-color: #006df0;
  width: 10%;
  height: 60%;
  position: relative;
  position: absolute;
  right: 0;
  top: -10%;
  z-index: 3;
}

.bullet__container2 {
  position: absolute;
  top: 30%;
  right: 50%;
  width: 11em;
  height: 8em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.bullet {
  background-color: white;
  border-radius: 100%;
  height: 0.85em;
  width: 0.85em;
}

/* Footer */
footer {
  background-color: #006df0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 0.8em;
}
footer i {
  margin-right: 0.3em;
}
